{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('article_create') }}">
	<table>
		<tr>
			<td>
	  {{ form.postname.label }}
			</td>
			<td>
	  {{ form.postname }}
			</td>
			<td>
				<ul>
			{% for error in form.postname.errors %}
			<li>{{ error }}</li>
			{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				{{ form.active.label }}
			</td>
			<td>
				{{ form.active }}
			</td>
			<td>
				<ul>
			{% for error in form.active.errors %}
			<li>{{ error }}</li>
			{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<td>
	  {{ form.text.label }}
			</td>
			<td>
	  {{ form.text }}
			</td>
						<td>
				<ul>
			{% for error in form.text.errors %}
			<li>{{ error }}</li>
			{% endfor %}
				</ul>
			</td>
		</tr>
			<tr>
		<td colspan="3">
  <input type="submit" value="Add a new post"/>
			</td>
		</tr>
</form>
{% endblock %}
